{% load reviews_extras %}
<h3 class="my-3">Critique :</h3>
    <form method="POST" enctype="multipart/form-data">
        {% for field in form.visible_fields %}
          {% if field.label == 'Note' %}
            <div class="row-container my-2">
                <p>{{ field.label }} :</p>
                {% in_range 6 as rating_range %} 
                {% for i in rating_range %}
                  <label for="id_rating_{{i}}">{{i}}</label>
                  <input type="radio" value="{{i}}" name="rating" id="id_rating_{{i}}" data-np-checked="1">
                {% endfor %}
            </div>
          {% else %}
            <div class="fieldWrapper">
              {{ field.errors }}
              {{ field.label }} : {{ field }}
            </div>
          {% endif %}
        {% endfor %}
        {% csrf_token %}
        <button type="submit" class="btn btn-dark">Publier</button>
    </form>