{% extends 'base.html' %}
{% block content %}
<section class="p-5 m-3">
    <h2 class="pb-3">Modifier le ticket</h2>
    <form method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit"  class="btn btn-dark">Sauvegarder</button>
    </form>
    <hr>
    <h3 class="pb-3">Supprimer le ticket ?</h3>
    <a href="{% url 'delete_ticket' ticket.id %}">
      <button type="submit"  class="btn btn-dark">Supprimer</button>
    </a>
</section>
{% endblock content %}