{% extends 'base.html' %}
{% load reviews_extras %}
{% block content %}
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1>Bienvenue sur votre flux LitReview !</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Postez un ticket</h5>
            <p class="card-text">Demandez un avis sur un livre ou un article aux utilisateurs de LitReview.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Postez une critique</h5>
            <p class="card-text">Partagez votre avis à propos d'une de vos lectures.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Suivez des utilisateurs</h5>
            <p class="card-text">Abonnez-vous à d'autres utilisateurs pour suivre leurs demandes et avis.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-container">
        {% for instance in page_obj %}
            {% if instance|model_type == 'Ticket' %}
                {% include 'reviews/partials/ticket_snippet.html' with ticket=instance %}
            {% elif instance|model_type == 'Review' %}
                {% include 'reviews/partials/review_snippet.html' with review=instance %}
            {% endif %}
        {% endfor %}
    </div>
    {% include 'reviews/partials/navigators_snippet.html' with page_obj=page_obj %}
{% endblock content %}