{% extends 'base.html' %}
{% load reviews_extras %}
{% block content %}
<section class="p-5 m-3">
  <h1>Publications de {{user}}</h1>
    <div class="grid-container">
        {% for instance in page_obj %}
            {% if instance|model_type == 'Ticket' %}
            <div class="border border-dark rounded p-5 m-3">
                {% include 'reviews/partials/ticket_snippet.html' with ticket=instance %}
                <a href="{% url 'edit_ticket' instance.id %}">
                    <button type="submit" class="btn btn-dark">Modifier le ticket</button>
                </a>
                <a href="{% url 'delete_ticket' instance.id %}">
                    <button type="submit" class="btn btn-dark">Supprimer le ticket</button>
                </a>
            </div>
            {% elif instance|model_type == 'Review' %}
            <div class="border border-dark rounded p-5 m-3">
                {% include 'reviews/partials/review_snippet.html' with review=instance %}
                <a href="{% url 'edit_review' instance.id %}">
                  <button type="submit" class="btn btn-dark">Modifier la critique</button>
                </a>
                <a href="{% url 'delete_review' instance.id %}">
                    <button type="submit" class="btn btn-dark">Supprimer la critique</button>
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% include 'reviews/partials/navigators_snippet.html' with page_obj=page_obj %}
{% endblock content %}