{% extends 'base.html' %}
{% block content %}
<section class="p-5 m-3">
    {% include 'reviews/partials/ticket_snippet.html' with ticket=ticket %}
    {% if user == ticket.author %}
        <a href="{% url 'edit_ticket' ticket.id %}">
          <button type="submit" class="btn btn-dark" value="ticket.id">Modifier le ticket</button>
        </a>
    {% endif %}
    {% if ticket.has_review %}
    {% else %}
        <a href="{% url 'create_review' ticket.id %}">
          <button type="submit" class="btn btn-dark">Créer une critique en réponse</button>
        </a>
    {% endif %}
</section>
{% endblock content %}
